body{
  font-family: 'Courier New', Courier, monospace;
}

th,td{
  background: pink;
  width:40px;
  height:40px;
  text-align: center;
  line-height: 40px;
}

tbody{
  cursor: pointer;
  user-select: none;
}

thead,tbody{
  text-align: center;
}

.intro,.number{
  text-align: center;
  font-size: 30px;
  font-family: 'OCRB';
  user-select: none;
}

#number{
  cursor: pointer;
}